:root {
  --color-devf: #de2dbb;
  --color-tecmilenio: #0da83c;
  --color-blue-h2: rgb(67, 154, 217);
  --color-light-blue-summary: #3fd2ff;
  --color-blue-h2-span: rgb(63, 210, 255);
  --color-main-background: rgba(50, 58, 61, 0.93);
}

html,
body {
  border: 0%;
  width: 90%;
  background-size: 220px;
  background-color: black;
  background-repeat: repeat;
  background-image: url("./figures/bg_colors.jpg");
  margin: auto;
  position: relative;
}

body {
  padding: 0 0;
}

#main {
  margin: 0 auto; /* in case you want to set a fixed width on this as well */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px black;
  -webkit-box-shadow: 0px 0px 8px 5px black;
  background-color: var(--color-main-background);
}

h1 {
  color: white;
  height: 70px;
  font-size: 70px;
  text-align: center;
  padding: 10px 0px 30px 0px;
  text-shadow: 4px 4px 4px black;
  box-shadow: 0px 0px 8px 5px black;
  -webkit-box-shadow: 0px 0px 8px 5px black;
  border-radius: 10px;
  background-size: 100%;
  background-image: url("figures/bg_blue.jpg");
}

h2 {
  clear: left;
  font-size: 35px;
  color: var(--color-blue-h2);
}

a,
button {
  text-decoration: none;
  color: var(--color-blue-h2-span);
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 14px;
}

.h2-span {
  font-size: 26px;
  color: var(--color-blue-h2-span);
}

.h3-span {
  font-size: 24px;
}

.date {
  font-size: 18px;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}
.context-menu {
  cursor: context-menu;
}

.h1-details {
  margin-left: 20px;
}

.h2-details {
  margin-left: 25px;
}

.h3-details {
  margin-left: 15px;
}

p,
table {
  font-size: 22px;
}

p,
span,
table {
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

img {
  display: block;
  margin-left: 10px;
}

#profile_pic {
  float: right;
  margin-left: 20px;
  border: 10px;
  border-style: inset;
  border-radius: 15px;
  border-top-color: #33658a;
  border-left-color: #86bbd8;
  border-right-color: #a188a6;
  border-bottom-color: #0c7c59;
}

summary {
  outline: none;
  color: white;
}

hr {
  border-radius: 5px;
  background-size: 220px;
  background-color: black;
  background-repeat: repeat;
  background-image: url("./figures/bg_colors.jpg");
  border: 0px;
  height: 12px;
}

button {
  border: none;
  cursor: pointer;
  background: none !important;
  padding: 10, 0, 0, 0 !important;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

.separator {
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
  background-color: white;
}

footer,
#languages {
  padding: 0;
  font-size: large;
  text-align: center;
  font-variant: small-caps;
}
footer li,
#languages li {
  font-size: x-large;
  display: inline-block;
}
footer li:hover,
#languages li:hover {
  filter: brightness(80%);
}

#languages {
  right: 0;
  float: right;
  margin-top: 14px;
  text-align: right;
  position: absolute;
  margin-right: 15px;
}

#languages img,
#languages-responsive img,
.flag {
  border-radius: 5px;
}

#languages img,
#languages-responsive img {
  border: 2px;
  border-style: solid;
  border-color: black;
}

#languages-responsive {
  display: none;
}

.summary-h2 {
  display: inline;
  vertical-align: middle;
}

.odd {
  background-color: rgba(50, 50, 50, 1);
}

.even {
  background-color: rgba(70, 70, 70, 1);
}

td:nth-child(2) {
  width: 100%;
}

td:first-child > div {
  display: flex;
  align-items: center;
}

table {
  width: 100%;
}

table,
td {
  border: 1px solid black;
}

table p {
  margin: 0;
  padding: 0px 10px 2px 10px;
}

td > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#codewars-badge-large,
#codewars-badge-small,
#codewars-badge-micro {
  margin-left: 0px;
  margin-top: -10px;
  margin-bottom: 10px;
}

#codewars-badge-small,
#codewars-badge-micro {
  display: none;
}
