.div-with-info-and-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bar {
  width: 100%;
  display: grid;
}

.bar * {
  grid-column: 1;
  grid-row: 1;
  z-index: 3;
}

.fill-bar {
  display: flex;
  align-items: center;
  z-index: 2;
  width: 100%;
}

.background-bar {
  width: 100%;

  background-color: black;
  background-image: url("./figures/bg_colors.jpg");
  background-repeat: repeat;
  background-size: 220px;

  filter: grayscale(40%);

  z-index: 1;
}

.bar,
.fill-bar,
.background-bar {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* Para actualizar las barras, entra a https://www.colorzilla.com/gradient-editor/ y piensa en un porcentaje.
 * Luego le restas 5 y le sumas 5, y cada uno de esos valores serán las pocisiones de los puntos de opacidad en la barra */

#spanish-bar {
  background-color: var(--color-tecmilenio);
}

#english-bar {
  background: -moz-linear-gradient(
    left,
    rgba(13, 168, 60, 1) 55%,
    rgba(13, 168, 60, 1) 61%,
    rgba(13, 168, 60, 0) 71%,
    rgba(13, 168, 60, 0) 78%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(13, 168, 60, 1) 55%,
    rgba(13, 168, 60, 1) 61%,
    rgba(13, 168, 60, 0) 71%,
    rgba(13, 168, 60, 0) 78%
  );
  background: linear-gradient(
    to right,
    rgba(13, 168, 60, 1) 55%,
    rgba(13, 168, 60, 1) 61%,
    rgba(13, 168, 60, 0) 71%,
    rgba(13, 168, 60, 0) 78%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da83c', endColorstr='#000da83c',GradientType=1 );
}

#esperanto-bar {
  background: -moz-linear-gradient(
    left,
    rgba(13, 168, 60, 1) 45%,
    rgba(13, 168, 60, 0) 55%,
    rgba(13, 168, 60, 0) 78%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(13, 168, 60, 1) 45%,
    rgba(13, 168, 60, 0) 55%,
    rgba(13, 168, 60, 0) 78%
  );
  background: linear-gradient(
    to right,
    rgba(13, 168, 60, 1) 45%,
    rgba(13, 168, 60, 0) 55%,
    rgba(13, 168, 60, 0) 78%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da83c', endColorstr='#000da83c',GradientType=1 );
}

#german-bar {
  background: -moz-linear-gradient(
    left,
    rgba(13, 168, 60, 1) 11%,
    rgba(13, 168, 60, 0) 21%,
    rgba(13, 168, 60, 0) 55%,
    rgba(13, 168, 60, 0) 78%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(13, 168, 60, 1) 11%,
    rgba(13, 168, 60, 0) 21%,
    rgba(13, 168, 60, 0) 55%,
    rgba(13, 168, 60, 0) 78%
  );
  background: linear-gradient(
    to right,
    rgba(13, 168, 60, 1) 11%,
    rgba(13, 168, 60, 0) 21%,
    rgba(13, 168, 60, 0) 55%,
    rgba(13, 168, 60, 0) 78%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da83c', endColorstr='#000da83c',GradientType=1 );
}
