# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
ErrorDocument 404 http://www.yoyomero.com
ErrorDocument 400 http://www.yoyomero.com
ErrorDocument 401 http://www.yoyomero.com
ErrorDocument 403 http://www.yoyomero.com
ErrorDocument 500 http://www.yoyomero.com

RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]

RedirectMatch 404 /\..*$

<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

Options All -Indexes

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?yoyomero.com [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

<IfModule mod_headers.c>
    <FilesMatch "\.(eot|otf|ttc|ttf|woff)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>

order allow,deny
deny from 201.175.0.171
allow from all